
body{

    font-family: Verdana, Tahoma, sans-serif;
}



h1{ 
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0%;
}

header{

    background-color:black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.subtitulo
{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
}

ul
{
    list-style-type: none;
    padding: 0%;
    justify-content: space-evenly;
}
li{
    display: inline-block;
    
}
li a{
    color: white;
}

.contenedor_flex {
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
  }
  
  .item_flex {
    border: 1px solid black;
    background-image:linear-gradient(gray,white);
    overflow: auto;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
  }

  .botonComprar {
    border-radius: 4px;
    margin: auto;
    font-size: 17px;
    color: black;
    text-decoration: none;

  }  
  .botonComprar a{
    color: black;
    text-decoration: none;

  }



  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;

}


.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.maps_container{
    text-align: right;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}


.form-button:hover {
    background-color: #0056b3;
}
textarea {
    width: 100%; 
    max-width: 100%; 
    height: 150px; 
    max-height: 300px; 
    resize: vertical; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.header-icon {
    margin-right: 250px;
    padding-left: 75px;
    width: 230px; 
    height: 230px; 
}

.header-text {
    display: flex;
    flex-direction: column; 
    text-align: center;
}

